pandas
numpy
scikit-learn
datasets
transformers
torch
nltk

MODEL PIPLINE :

Data Collection

Data Preprocessing

Text Vectorization (TF-IDF)

Email Classification Model

Urgency Detection Model

Model Evaluation